.toast {
    box-sizing: border-box;
    padding: 0.75rem;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 0.25rem;
    position: relative;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.toast-container[data-position$="-right"] .toast {
    transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
    transform: translateX(-110%);
}

.toast-container[data-position$="top-center"] .toast {
    transform: translateY(100vh);
}

.toast-container[data-position$="bottom-center"] .toast {
    transform: translateY(100vh);
}

.toast-container .toast.show {
    transform: translate(0, 0);
}

.toast.progress::before {
    margin-right: auto;
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% * var(--progress, .5));
    background-color: red;
    bottom: 0;
    left: 0;
    right: 0;
}

.toast.can-close::after {
    content: "\2716";
    position: absolute;
    top: 2px;
    right: 5px;
}

.toast-container {
    position: fixed;
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toast-container[data-position^="top-"] {
    top: 0;
}

.toast-container[data-position^="bottom-"] {
    bottom: 0;
}

.toast-container[data-position$="-left"] {
    left: 0;
}

.toast-container[data-position$="-right"] {
    right: 0;
}

.toast-container[data-position$="-center"] {
    left: 50%;
    transform: translateX(-50%);
}